*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
    margin-top: 30px;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#h1{
    color: hsl(229, 6%, 66%) ;
}
#p{
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: hsl(229, 6%, 66%) ;
    padding: 10px;
}
#contain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

}
.box{
    width: 250px;
    height: 200px;
    background-color:white ;
    font-size: 15px;
    border-color: transparent;
    box-shadow: 3px 3px 3p rgb(249, 235, 235);
    border-radius: 9px;
    position: relative;
    list-style: 10px;
}
#lightblue{
    width: 100%;
    height: 5px;
    background-color:  hsl(212, 86%, 64%);
}
.box1{
    padding: 20px;
}
.box1 p{
    color: hsl(229, 6%, 66%)  ;
}
.box img{
    width: 40px;
    object-fit: contain;
    position: absolute;
    translate: 150px;
    bottom: 10px;
}
h4{
    padding: 10px 0;
}
#together{
     display: flex;
     flex-direction: column;
     gap: 20px;
}
#read{
    width: 100%;
    height: 5px;
    background-color: hsl(0, 78%, 62%) ;
}
#orange{
    width: 100%;
    height: 5px;
    background-color: hsl(34, 97%, 64%) ;
}
#deepblue{
    width: 100%;
    height: 5px;
    background-color: hsl(212, 86%, 64%) ;
}

@media(max-width:700px){
    body{
        width: 100%;
        height: auto;
    }
    #contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

}
}